.app {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app .app__header {
  font-size: calc(3px + 2vmin);
}

.app .app__content {
  margin: 50px;
}

.app .app__content .tab__content {
  text-align: center;
}

.app .app__content .tab__content .form__container {
  padding-top: 20px;
}

.app .app__content .tab__content .form__container form {
  padding-top: 10px;
}

.app .app__content .tab__content .form__container .form-group {
  margin-bottom: 20px;
  display: inline-block;
}

.app .app__content .tab__content .results__container {
  margin-top: 20px;
}
