.app {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__header {
  font-size: calc(3px + 2vmin);
}

.app__content {
  margin: 50px;
}

.tab {
  text-align: center;
}

.container {
  padding: 20px 10px;
}

.form__group {
  margin-bottom: 20px;
  display: inline-block;
}

.form__group--margin-right {
  margin-right: 20px;
}

.tag {
  background-color: #e88936;
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;
}
